a, a:hover, a:focus, a:active {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

.fa-arrow-left {
  position: absolute;
  margin: 5px 0 0 20px;
}

.logo {
  width: 150px;
  margin: 0 0 0 120px;
}

.feature__showcase {
  width: 450px;
  margin: 0 0 0 -5px;
}

.menu {
  position: absolute;
  margin: -50px 0 0 -5px;
  width: 450px;
  height: 1200px;
  background-color: #E1E1DD;
  border-radius: 25px 25px 0 0;
}

.title {
  font-size: 20px;
  font-weight: 1000;
  margin: 0 0 0 20px;
}

.favorite {
  position: absolute;
  margin: -50px 0 0 350px;
}

.meal {
}

.meal__type {
  text-decoration: underline 3px #99E2D0;
}

.meal__dish {
  width: 380px;
  height: 70px;
  background-color: white;
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  border-radius: 25px 25px 25px 25px;
  margin: 15px 0 0 5px;
  line-height: 70px;
}

.meal__name {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin: 0 0 0 0;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 25px;
  background-color: green;
  border: 2px solid red;
  width: 380px;
  height: 70px;
  line-height: 50px;
  z-index: 6;
}

.meal__name strong {
  margin: 8px 0 0 20px;
  box-sizing: border-box;
  white-space: nowrap;
  width: 300px;
  line-width: 300px;
  height: 30px;
  line-height: 30px;
}

.meal__name:hover {
  transform-origin: 0% 50%;
  transform: scaleX(.85);
  transition: transform 1000ms cubic-bezier(.32,0,.07,1);
}

.meal__add {
  display: block;
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;
  height: 25px;
  width: 200px;
  line-width: 200px;
  line-height: 10px;
  word-wrap: normal;
  margin: 35px 0 0 -290px;
}

.meal__price {
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
  box-sizing: border-box;
  background-color: gold;
  display: block;
  border: 2px solid blue;
  margin: 21px 0 0 75px;
  text-align: center;
}

.meal__btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  object-fit: contain;
  margin: -70px 0 0 300px;
  height: 70px;
  width: 80px;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  z-index: 4;
}

.meal__slide {
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border: 2px solid black;
  margin: -65px 0 0 380px;
  background-color: black;
  z-index: 10;
}

.fa-check-circle {
  position: absolute;
  margin: 20px 0 0 390px;
  font-size: 30px;
  box-sizing: border-box;
  object-fit: contain;
  color: green;
}

.meal__name:hover .fa-check-circle {
  transition-duration: 1s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 1s ease-in-out;
  color: white;
}

.order {
  color: white;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  height: 50px;
  width: 200px;
  margin: 45px 0 0 100px;
  border: transparent;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 5px 5px #898985;
}

.smlogo {
  height: 20px;
  margin: 35px 0 0 25px;
  filter: brightness(3000%)
}

ul {
  margin: -10px 0 0 -15px;
}

li {
  list-style-type: none;
}

footer {
  position: relative;
  margin: 1100px 0 0 -5px;
  width: 450px;
  height: 170px;
  color: white;
  background-color: #383835;
}
