* {
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

header img {
  height: 40px;
  margin: 0 0 0 45%
}

#location {
    background-color: #c4c4c4;
    text-align: center;
    height: 50px;
    width: 156%;
    margin: 0 0 0 -7px;
}

#location h4 {
  margin: 0 0 0 0;
}

.fa-map-marker-alt {
  position: absolute;
  margin: 0px 0 0 -80px;
}

.booking {
    margin: -20px 0 0 -7px;
    width: 156%;
    background-color: #ded9d9;
    text-align: center;
    height: 250px;
}

.booking__themenu {
  margin: 100px 0 0 0;
  overflow-wrap: break-word;
}

.explore {
    position: absolute;
    color: white;
    background-image: linear-gradient(to left, #9356DC, #FF79DA);
    height: 50px;
    width: 200px;
    margin: 70px 0 0 -270px;
    border: 0.1px solid transparent;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 8px 12px .5px black;
}

.explore:active {
    transform: translateY(4px);
}

.howTo {
    width: 100%;
    padding: 15px 0 0 0;
    margin: 0 0 0 10px;
}

.howTo__guide {
    height: 60px;
    width: 140%;
    border-radius: 20px;
    border: 2px solid transparent;
    margin: 10px;
    box-shadow: 0 4px 3px 3px #c4c4c4;
}

.howTo__guide:hover {
  background-color: #c1a2e5d4;
}

.fa-mobile-alt {
  position: absolute;
  margin: 0 0 0 -50px;
}

.fa-list-ul {
  position: absolute;
  margin: 0 0 0 -52px;
}

.fa-store {
  position: absolute;
  margin: 0 0 0 -20px;
}

.howTo__number {
    color: white;
    background-color: #9356DC;
    position: absolute;
    margin: -10px 0 0 -20px;
    height: 30px;
    width: 30px;
    border-radius: 25px 25px 25px 25px;
    line-height: 25px;
}

.feature {
    width: 156%;
    height: 1350px;
    background-color: #d2cfcf;
    position: relative;
    top: 50px;
    left: -7px
}

.feature__restaurant {
    width: 70%;
    height: 270px;
    padding: 0px;
    margin: 0 0 0 70px;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    animation: drop 4s;
    text-decoration: none;
}

@keyframes drop {
  from {
    transform: translateY(-70px);
    opacity: .003;
  }

  to {
    transform: translateY();
  }
}

.feature__restaurant figure {
  width: 100%;
}


.feature__showcase {
    box-sizing: content-box;
    width: 100%;
    height: 210px;
    margin: 0 0 0 -40px;
    border-radius: 25px 25px 0 0;
}

.feature__new {
  position: relative;
  border: 1px solid lightgreen;
  background-color: lightgreen;
  text-align: center;
  font-weight: 700;
  color: darkgreen;
  width: 100px;
  margin: -180px 0 0 285px;
}

.feature__old {
  position: relative;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  font-weight: 700;
  color: darkgreen;
  width: 100px;
  margin: -160px 0 0 285px;
}

.feature__info {
  position: relative;
  margin: 165px 0 0 0;
  width: 100%;
  height: 20px;
  box-sizing: content-box;
}

.feature__location {
  width: 100%
}

.fa-heart {
  position: absolute;
  font-size: 25px;
  margin: -20px 0 0 350px;
}

.fa-heart:hover {
  color: #9356DC;
}

.fa-heart:active {
  background-color: ;
}

.smlogo {
    height: 20px;
    margin: 35px 0 0 25px;
    filter: brightness(3000%)
  }
  
  ul {
    margin: -10px 0 0 -15px;
  }
  
  li {
    list-style-type: none;
  }
  
  footer {
    position: relative;
    margin: 50px 0 0 -6px;
    width: 155%;
    height: 170px;
    color: white;
    background-color: #383835;
  }
